*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --fontFam: "Helvetica Neue", Arial;
    --menuNav-fontClr: #0A2540;
    --ctaNav-fontClr: #9966FF;
}
/* html{
    max-width: 100vw;
} */
body{
    width: 100%;
}
body::-webkit-scrollbar{
        display: none;
}
.header_guidesContainer{
    width: 100%;
    height: 4.25em;
    display: flex;
    align-items: center;
    /* padding: 1em 0; */
}
.header_container{
    width: 78%;
    height: 100%;
    padding: 0 1em;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.header_navContainer{
    width: 100%; 
    /* height: 100%; */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8em 1em 0.8em 1em;
    justify-content: space-between;
    gap: 1em;
    font-family: var(--fontFam);
    
}
.header_logoLink{
    display: flex;
    width: 7%;
    align-items: center;
}
.UserLogo{
    max-width: 60px;
}
.navMenu_btn{
    display: none;
}
.header_menuNav{
    /* width: 30%; */
    display: flex;
    flex-direction: row;
    
    /* align-items: center; */
}
.header_menuNavItem{
    display: flex;
    border: none;
    background: inherit;
    align-items: center;
    padding: 0.3em 0.6em;
    gap: 0.2em;
    text-decoration: none;
    color: var(--menuNav-fontClr);
    font-size: 15px;
    font-weight: 550;
}
.menuNaveItem_svgIcon{
    max-width: 0.5em;
    stroke-width: 5em;
}
.header_ctaNav{
    margin-left: auto;
    display: flex;
    gap: 1em;
    /* align-items: center; */
}
.header_ctaNavItem{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0.2em;
    color: var(--ctaNav-fontClr);
    font-size: 15px;
    font-weight: 550;
    text-wrap-mode: nowrap;
}
#ctact_Item{
    background-color: var(--ctaNav-fontClr);
    color: #FFFFFF;
    border-radius: 1em;
    /* padding: 0.3em 1em; */
    /* width: 140px; */
    /* text-align: center; */
    padding: 0.4em 1em;
}
.ctaNavItem_svgIcon{
    max-width: 0.6em;
    /* stroke-width: 9em; */
    /* stroke:; */
}
.section_container{
    width: 100%;
    /* height: auto; */
}
.section_layout{
    width: 78%;
    /* max-width: 78%; */
    margin: 0 auto;
    /* padding: 0 5%; */
}
.productSection{
    /* width: 100%; */
    /* padding: 0 5%; */
    height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10%;
}
.productNav{
    /* width: 100%; */
    padding: 1em  0 1em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.productNav_header{
    display: flex;
    align-items: center;
}
.productNav_header img{
    max-width: 60px;
}
.productNav_header a{
    font-size: 1em;
    font-family: var(--fontFam);
    color: var(--ctaNav-fontClr);
    font-weight: 600;
    text-decoration: none;
}
.productNav_itemContainer{
    display: flex;
    flex-direction: row;

    padding: 0 1em;
    /* justify-content: space-between; */
    align-items: center;
    margin-left: auto;
}
.productNav_item{
    font-size: 15px;
    font-family: var(--fontFam);
    color: var(--ctaNav-fontClr);
    text-decoration: none;
    font-weight: 550;
    padding: 0 1em;
}
.productHero_section{
    width: 100%;
    /* padding: 0 3%; */
    min-height: 65%;
    display: flex;
    flex-direction: row;
    font-family: var(--fontFam);
    color: var(--menuNav-fontClr);
}
.productHero_rowlayout{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.heroCaption{
    width: 100%;
    display: flex;
    justify-items: start;
    padding: 0 1em;
}
.heroCaption_Content{
    /* width: max-content; */
    /* min-width: 335px; */
    font-weight: 550;
    background-color: rgba(201, 205, 209, 0.3);
    padding: 0 1em;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1%;
    text-wrap-mode: nowrap;
    /* border: 1px dashed black; */
    border-radius: 12px;
    /* margin: 0 0 0 4%; */
}
.heroCaption_Content a{
    text-decoration: none;
    color: inherit;
}
#hero_span_img{
    max-width: 7px;
}
#session111{
    display: inline-flex;
}
.productHero_heroParent{
    width: 100%;
    min-height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero_Title_guide{
    padding: 0 2em 0 1em;
    /* max-height: min-content; */
    display: flex;
    align-items: center;
}
.hero_Title{
    font-size: 3.5em;
    /* text-wrap-mode: wrap; */
}
.heroComment_guide{
    padding: 0 1em;
    display: flex;
    align-items: center;
}
.heroComment{
    font-size: 1.2em;
    font-weight: 100;
}
.heroCtaDiv{
    width: 80%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between;/ */
    /* gap: 1%; */
    padding: 0 1em;
}
.heroCta_btn{
    text-decoration: none;
    color: inherit;
    padding: 0.4em 1em;
    border-radius: 1em;
    color: var(--ctaNav-fontClr);
    font-weight: 600;
}
.heroCta_btn1{
    width: 52%;
    background: var(--ctaNav-fontClr);
    color: #FFFFFF;
}
.heroCta_btn2{
    width: 43%;
}
.heroCta_btnIcon{
    width: 0.6em;
}
.columnLayout{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1em 0.5em;
    /* align-items: center; */
}
/* .short_line{
    width: 5%;
    height: 1px;
    background-color: #0A2540;
    font-weight: 900;
    color: var(--menuNav-fontClr);
    transform: rotate(90deg);
    /* position: absolute; 
} */
.comp_detail{
    max-width: 24%;
    /* width: 24%; */
    /* height: 0%; */
    max-height: 90%vh;
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: space-between;
    font-family: var(--fontFam);
}
.detail_header{
    display: flex;
    flex-direction: column;
    font-weight: 600;   
}
.detail_header span img{
    max-width: 50px;
}
.detail_comment{
    
}
.navBarMobile{
    display: none;
}
@media (max-width: 750px) {
    .header_container{
        width: 100%;
    }
    .header_navContainer{
        justify-content: space-between;
    }
    .header_menuNav{
        display: none;
    }
    .header_ctaNav{
        display: none;
    }
    .navMenu_btn{
        display: inline-block;
        background-color: #9966FF;
        width: 50px;
        min-height: 30px;
        /* padding: 0.3em 0.5em; */
        border: none;
        border-radius: 2em;
    }
    .fa-bars{
        /* font-size: 10em; */
        color: #FFFFFF;
    }
    .section_layout{
        width: 100%;
        margin: 0;
    }
    .productSection{
        width: 100%;
        gap: 5%;
    }
    .productNav{
        /* max-height: 10%; */
        gap: 2%;
    }
    .productNav_header img{
        max-width: 40px;
    }
    .productNav_itemContainer{
        height: 100%;
        max-width: 70%;
        overflow-x: auto;
        margin: 0;
        padding: 0;
        /* -webkit-overflow-scrolling: touch; */
    }
    .productNav_itemContainer::-webkit-scrollbar {
        display: none;
    }
    .productNav_item{
        text-wrap-mode: nowrap;
        font-weight: 600;
        font-size: 12px;
        /* line-height: 6px; */
    }
    .productHero_section{
        flex-direction: column;
        min-height: 90%;
    }
    .productHero_rowlayout{
        width: 100%;
        min-height: 60%;
        gap: 3%;
    }
    .productHero_heroParent{
        gap: 4%;
    }
    .heroCaption_Content{
        flex-direction: column;
    }
    .heroCaption_Content div{
        display: flex;
        gap: 2%;
        font-size: 13px;
        font-weight: 500;
    }
    .hero_Title{
        font-size: 45px;
    }
    .heroCtaDiv{
        width: 100%;
        flex-wrap: wrap-reverse;
    }
    .heroCta_btn{
        width: auto;
        text-wrap-mode: nowrap;
    }
    .columnLayout{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    hr{
        display: none;
    }
    .comp_detail{
        min-width: 48%;
        max-height: 50%;
        gap: 10px;
    }
    .detail_comment{
        width: 100%;
    }
    .section_layoutX{
        margin-top: 50px;
        width: 100%;
        /* height: auto; */
    }
    .navBarMobile{
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        /* display: flex; */
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        top: 0;
    }
    #headStyler{
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        padding: 1em;
    }
    #mobileNav_xBtn{
        padding: 0.5em 0.8em;
        background-color: var(--ctaNav-fontClr);
        border-radius: 5px;
        border: none;
    }
    .columnNav{
        width: 100%;
        height: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #navItem{
        text-decoration: none;
        font-family: var(--fontFam);
        color: var(--ctaNav-fontClr);
    }
    .cta_bottomNav{
        display: inline-flex;
        width: auto;
        margin: 0 auto;
        padding: 1em;
        justify-content: space-between;
        font-family: var(--fontFam);
    }
}