header{
    position: relative;
}
.navBar{
    min-height: 80px;
    border-bottom: 1px solid var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5em;
    gap: 1em;
    max-height: 50px;
    position: relative;
    align-items: center;
}
.navBar div{
    display: flex;
    align-items: center;
    font-size: 2.3em;
}
.navBar div span{
    font-family: var(--heading-font-fam);
    color: var(--text-primary);
}
.navContent{
    flex: 1;
    max-width: 350px;
    display: flex;
    align-items: center;
}
.navContent ul{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
.navContent ul li{
    list-style: none;
}
.navContent ul li a{
     color: var(--text-secondary);
     font-family: var(--body-font-fam);
}
.hamburger{
    width: 1.2em;
    height: 1.2em;
    padding: 0.2em;
    display: none;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.1em;
    position: relative;
}
.one{
    transform: translateY(5.5px) rotate(45deg);
}
.two{
    opacity: 0;
}
.three{
    transform: translateY(-5.5px) rotate(-45deg);
}
.bars{
    width: 100%;
    height: 2px;
    background: var(--primary);
    transform-origin: center;
    transition: all 0.5s ease-in-out;
}
.mobileNav{
    z-index: 0;
    position: fixed;
    width: 100vw;
    height: 90vh;
    display: none;
    padding-top: 5em;
    gap: 1em;
    flex-direction: column;
    background: var(--primary);  
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
    border: none;
}
.mobileNav a{
    color: var(--bg-main);
    font-family: var(--body-font-fam);
}
.open{
    transform: translateX(0);
}
@media (max-width: 700px) {
    .navBar div{
        font-size: 1.5em;
    }
    .navBar{
     padding: 0 1em;   
    }
    .navContent{
        max-width: none;
        flex: 0;
    }
    .hamburger{
        display: flex;
    }
    .navContent ul{
        display: none;
    }
    .mobileNav{
        display: flex;
    }
}
